@{
    ViewData["Title"] = "Om sidan";
}

<div>
    <h1>Om sidan</h1>
    <p>Denna webbplats är skapad av @ViewData["CreatorName"] som del av en uppgift i kurs DT191G vid Mittuniversitetet. </p>
</div>
